<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="contenedor">
    <nav class="navegacion">
        <h2>Empleados</h2>
        <h4>Administra tus Empleados  </h4>
        <ul>
            <li routerLink="/clientes">
                <a >Empleados</a>
            </li>
            <li routerLink="/addclient">
                <a >Nuevo Empleado</a>
            </li>
        </ul>
    </nav>
    <div class ="Contenedor-principal">
        
        <router-outlet></router-outlet>
    </div>
    



